/* _content/SiliconWeb/Components/Layout/AuthLayout.razor.rz.scp.css */
.gradient-custom-2[b-r68xcmyh2e]{
    background:#5372FD;
    background:-webkit-linear-gradient(to right,#ee7724,#d8363a,#dd36357,#b44593);
    background:linear-gradient(90deg,rgba(2,0,36,1) 0%,rgba(83,114,253,1) 40%,rgba(0,212,255,1) 100%);
}
@media(min-widht:768px){
    .gradient-form[b-r68xcmyh2e]{
        height:100vh !important;
    }
}
@media(min-widht:769px) {
    .gradient-custom-2[b-r68xcmyh2e] {
        border-top-right-radius:.3rem;
        border-bottom-right-radius:.3rem;
    }
}
.form-control[b-r68xcmyh2e]{
    padding:0;
}
/* _content/SiliconWeb/Components/Layout/MainLayout.razor.rz.scp.css */
/*.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.sidebar {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row ::deep a, .top-row ::deep .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row ::deep a:hover, .top-row ::deep .btn-link:hover {
        text-decoration: underline;
    }

    .top-row ::deep a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row {
        justify-content: space-between;
    }

    .top-row ::deep a, .top-row ::deep .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth ::deep a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row, article {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
    */
#blazor-error-ui[b-cp5xlbfh5m] {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss[b-cp5xlbfh5m] {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-cp5xlbfh5m] {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

a[b-cp5xlbfh5m] {
    color: #0077cc;
}

.btn-primary[b-cp5xlbfh5m] {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active[b-cp5xlbfh5m], .nav-pills .show > .nav-link[b-cp5xlbfh5m] {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.border-top[b-cp5xlbfh5m] {
    border-top: 1px solid #e5e5e5;
}

.border-bottom1[b-cp5xlbfh5m] {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-cp5xlbfh5m] {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-cp5xlbfh5m] {
    font-size: 1rem;
    line-height: inherit;
}

.btn-icon-footer[b-cp5xlbfh5m] {
    background-color: rgb(240,244,255);
}

.para-fotter[b-cp5xlbfh5m] {
    font-size: small;
    color: RGB(167, 170, 187);
}
/* _content/SiliconWeb/Components/Layout/NavMenu.razor.rz.scp.css */
.logo[b-zmk7b64ai5] {
    width: 60px;
    height: 30px;
}
header[b-zmk7b64ai5]{
    z-index:3000;
}
/* _content/SiliconWeb/Components/Pages/Courses/DetailsCourse.razor.rz.scp.css */
.container[b-rybwzekf88] {
    min-width: 100%;
    padding: 0;
    margin: 0 auto;
    margin-top: -20px;
    position: relative;
}

.breadcrumb *[b-rybwzekf88] {
    color: #e4e0e0de;
    text-decoration: none;
}

.breadcrumb[b-rybwzekf88] {
    position: absolute;
    top: 0;
    left: -15px;
}

    .breadcrumb li.active a[b-rybwzekf88] {
        color: white;
    }

.breadcrumb-item + .breadcrumb-item[b-rybwzekf88]::before {
    float: left;
    padding-right: var(--bs-breadcrumb-item-padding-x);
    color: #e4e0e0de;
}

.rate .star[b-rybwzekf88] {
    font-size: 1.5rem;
}




.rate[b-rybwzekf88] {
    display: inline-block;
    margin-left: .3rem;
}

    .rate *[b-rybwzekf88] {
        color: whitesmoke;
    }

    .rate:nth-child(1)[b-rybwzekf88] {
        margin-left: -7px;
    }

.star-active[b-rybwzekf88] {
    color: gold;
    margin-left: .5rem;
}
