@using Microsoft.AspNetCore.Authorization

@inherits LayoutComponentBase
@attribute [AllowAnonymous]
 
<div class="container  ">
    <div class="row d-flex justify-content-center align-content-center  " style="margin:0 auto;height:90vh">
        <div class="col-xl-10">
            <div class="card rounded-3 text-black">
                <div class="row g-0">
                    <div class="col-lg-6">
                        <div class="card-body p-md-5 mx-md-4">
                            <div class="text-center">
                                <img src="img/logo.png"
                                style="width:100px;border-radius:100%" alt="logo"/>
                                <h4 class="mt-1 mb-5 pb-1">Silicon-BackOffice</h4>
                            </div>
                            <div style="margin-top:-30px">
                                @Body
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                        <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                            <h4 class="mb-4">We make Silicon</h4>
                            <p class="small mb-0">
                                lorem20 
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
 